@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
} */

/* @media (max-width: 768) {
  .hamza {
    row-gap: 5px;
  }
}
@layer utilities {
  @media (max-width: 480px) {
    .small-btn {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
} */